<h1 data-controller="hello">Hello batch 1431</h1>
<p style="color: green"><%= notice %></p>

<h1>Monuments</h1>
<div data-controller="insert-in-list">
  <div id="monuments" data-insert-in-list-target="list">
    <% @monuments.each do |monument| %>
      <%= render monument %>
      <p>
        <%= link_to "Show this monument", monument %>
      </p>
    <% end %>
  </div>

  <div data-controller="toggle">
    <button class="btn btn-outline-primary mb-3" data-toggle-target="button" data-action="click->toggle#fire">Add a monument</button>

    <div class="d-none" data-toggle-target="toggelable">
      <%= render 'form', monument: @monument %>
    </div>
  </div>
</div>
